@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #171717;
  font-family: ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto;
}
